@model IEnumerable<InventoryClient.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <button class="btn btn-primary btn-sm mb-3 btn-round" id="showAddModal"><i class="feather icon-plus"></i>Create New </button>
</p>
<table class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inventoryQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inventoryQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateAdded)
            </td>
            <td>
                <button class="btn btn-success selbtn" data-id="@item.productID">Edit</button>
                <button class="btn bg-warning delbtn" data-id="@item.productID">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
<div id="modalContainer"></div>
@section Scripts{
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            $('#showAddModal').click(function () {
                $.ajax({
                    url: '/Products/_AddProduct',
                    type: 'GET',
                    success: function (result) {
                        $('#modalContainer').html(result);
                        $('#modalAdd').modal('show');
                        $("#MsgOut").text("");
                        $("#dvMessage").hide();
                    }
                });
            });
        });

        $(document).ready(function () {
            $('.selbtn').click(function () {
                var productId = $(this).data('id');
                $.ajax({
                    url: '/Products/_EditProduct',
                    type: 'GET',
                    data: { productId: productId },
                    success: function (result) {
                        $('#modalContainer').html(result);
                        $('#modalAdd').modal('show');
                        $("#MsgOut").text("");
                        $("#dvMessage").hide();
                        $('#myHiddenField').val(productId);
                    }
                });
            });
        });
        $(document).ready(function () {
            $('.delbtn').click(function () {
                var productId = $(this).data('id');
                $.ajax({
                    url: '/Products/_DeleteProduct',
                    type: 'Get',
                    data: { productId: productId },
                    success: function (result) {
                        $('#modalContainer').html(result);
                        $('#modalAdd').modal('show');
                        $("#MsgOut").text("");
                        $("#dvMessage").hide();
                        $('#myHiddenField').val(productId);
                    }
                });
            });
        });
    </script>
    <script>
        $(function () {
            var strValue = "@((string)ViewBag.mssg)";
            if (strValue !== null && strValue !== "" && strValue !== "An error occurred: The input does not contain any JSON tokens. Expected the input to start with a valid JSON token, when isFinalBlock is true. Path: $ | LineNumber: 0 | BytePositionInLine: 0.") {
                $.ajax({
                    url: '/Products/_AddProduct',
                    type: 'GET',
                    success: function (result) {
                        $('#modalContainer').html(result);
                        $('#modalAdd').modal('show');
                        $("#MsgOut").text(strValue);
                        $("#dvMessage").show();
                    }
                });
            }
            else {
                var strValue = "@((string)ViewBag.mssgEdit)";
                if (strValue !== null && strValue !== "") {
                    var productId = strValue.split(":")[0];
                    var msgOut = strValue.split(":")[1];
                    $.ajax({
                        url: '/Products/_EditProduct',
                        type: 'GET',
                        data: { productId: productId },
                        success: function (result) {
                            $('#modalContainer').html(result);
                            $('#modalAdd').modal('show');
                            $("#MsgOut").text(msgOut);
                            $("#dvMessage").show();
                        }
                    });
                }
            }

        });
    </script>
    <script>
        $(function () {
            var strValue = "@((string)ViewBag.mssgPop)";
            console.log(strValue);
            if (strValue !== null && strValue !== "") {
                console.log("fore");
                Swal.fire(strValue);
            }
        });
    </script>
}

